.post_form_container {
    width: 100%;
    padding-top: 0 !important;


    margin-top: 0 !important;
}

.title_field_con {
    width: 50%;
    ;
}

.title_field_con input {
    background: transparent;
    border-bottom: 1px solid #bfbbbb;
    width: 100%;
}

.title_bar_wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
}

.wrapper {

    width: 90%;
    margin: auto;
}

.wrapper button {
    width: fit-content;
    padding: 1.5rem 4rem;
    border-radius: 0;
}

.textarea_con {

    background: white;
    width: 85%;
    margin: auto;
    margin-top: 3rem;
    padding-inline: 1rem;
}



.textbox {

    height: 70vh;
    ;
    outline: none;
    resize: none;
    border: None;
    border-color: #bfbbbb;
    padding: 1rem 4rem;
    overflow: auto;
    margin: auto;
    font-size: 2rem;
}

.file_selector_con span {
    font-size: 3rem;
    padding-top: 2rem;
    color: #4647e1;
    cursor: pointer;

}

.editor_controls_con {
    margin-top: 3rem;
}